.tophead {
    display: flex;
    justify-content: space-around
}
.logo{
    height: 80px;
    width: auto;
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    text-decoration: none;
  }
  .header{
      display: flex;
      
      justify-content: space-evenly;
      flex-direction: row;

      
  }

  .mainimg{
      
      width: 400px;
      

      
  }
  .descript{
    word-wrap: break-word;
    max-width: 600px;
    
  }
  .textpart{
      display: flex;
      flex-direction: column;

  }
  .tit{
      margin-left: 80px;
  }
  button {
    font-family: Roboto, sans-serif;
    border-radius: 8px;
    border: none;
    background: #1DA1F2;
    max-width: 90px;
  }
  a {
    color: #666;
    text-decoration: none;
  }